@import url('https://fonts.googleapis.com/css?family=Kalam');


.Main {
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
    grid-template-rows: 30vh, 30vh, 30vh, auto;
    justify-content: space-around;
    align-items: center;
}



.getDogs {
    grid-column-start: 2;
    align-self: center;
    width: 200px;
    height: 70px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Kalam', cursive;
   background: #ffd697;
   border-style: none;
   border-radius: 10px;
   color: #242424;
   
}


.doggoDiv {
  text-align: center;
  align-items: center;
}

.doggyName {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 23px;
    margin: 0%;
    margin-top: 35px;
    margin-right: 110px;
    color: #242424;
}

img {
    margin-left: 26px;
    align-self: center;
    height: 280px;
    width: 350px;
}

.del {
    margin-left: 100px;
    background: #ffd697;
    border-style: none;
    border-radius: 8px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    color: #242424;
}

.dogComments {
    margin-top: 100px;
    margin-bottom: 10vh;
    grid-column-start: 1;
    grid-column-end: 4;
}